#vid-container {
    width: 100%;
    height: 100%;
    width: 820px;
    height: 461.25px;
    float: none;
    clear: both;
    margin: 2px auto;
}

svg {
    border-radius: 3px;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #99ccff;;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #baeeff;
    stroke-width: 2px;
}

.hyper {
    color: red;
    text-decoration: underline;
}

.hyper:hover {
    color: yellow;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.not-selected {
    font-weight: normtal;
}
